<div class="gestor-container">
  <header class="encabezado-gestor">
    <div class="logo-circulo">
      <img src="logo1.jpg" alt="Logo" class="logo-img" onerror="this.src='https://via.placeholder.com/60'">
    </div>
    <h1>COMUNIDAD CELUS PAPU</h1>
    <p>Administrador de Reseñas ADSO</p>
  </header>

  <main class="layout-dos-columnas">
    
    <aside class="columna-usuarios">
      @for (user of usuariosUnicos(); track user.nombre) {
        <div class="item-usuario" 
             [class.activo]="usuarioSeleccionado() === user.nombre"
             (click)="seleccionarUsuario(user.nombre)">
          
          <div class="avatar-wrapper">
            <img [src]="user.avatar" alt="Avatar" onerror="this.src='avatar3.png';" class="avatar-img">
          </div>
          <span class="nombre-lista">{{ user.nombre }}</span>
        </div>
      }
    </aside>

    <section class="columna-contenido">
      
      @if (usuarioSeleccionado()) {
        
        <div class="cabecera-derecha">
          <h2>Reseñas de {{ usuarioSeleccionado() }} 🗿</h2>
          <button class="btn-agregar" (click)="toggleFormulario()">Agregar Reseña Nueva</button>
        </div>

        @if (mostrarFormulario()) {
          <app-formulario 
            [nombreUsuario]="usuarioSeleccionado()" 
            (cerrar)="toggleFormulario()" />
        }

        <div class="lista-tarjetas-lilas">
          @for (resena of comentariosDelUsuario(); track resena.id) {
            <app-tarjeta [info]="resena" />
          }
        </div>

      } @else {
        <div class="pantalla-vacia">
          <p>Selecciona un usuario a la izquierda para ver sus reseñas. 🗿</p>
        </div>
      }

    </section>
  </main>
</div>