/* =========================================
   VARIABLES GLOBALES "DARK MINIMALIST"
   ========================================= */
:root {
  --sidebar-bg: #1e1e1e;
  --main-bg: #0f172a;
  --neon-cyan: #00f3ff;
  --neon-green: #10b981;
  --glass-bg: rgba(255, 255, 255, 0.03);
  --border-glass: rgba(255, 255, 255, 0.08);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: #fff;
  font-family: 'Inter', sans-serif;
}
